.main {
    padding: 4.5rem 3rem 0 3rem;
    width: 100%;
    margin-bottom: 125px;
}
.main h1 {
    font-family: 'NotoSansCJKjp', sans-serif;
    letter-spacing: 0.5rem;
    padding-bottom: 2rem;
}
.main .thelink {
    font-size: 12px;
}
.main .content {
    padding-bottom: 2rem;
}
.main .content-title {
    font-size: 16px;
}
.main .content-title p {
    max-width: 900px;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}
.main .indoor .title {
    font-family: 'NotoSansCJKjp', sans-serif;
    margin: 0;
    padding-bottom: 1rem;
}
.indoor-img {
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.indoor-img img {
    transition: .5s ease;
}
.indoor-img:hover img{
    transform: scale(1.1,1.1) rotate(1deg);
}

/* faq */
.question-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question {
    border-bottom: 1px solid #ffffff;
    width: 20rem;
}
.question:hover h2 {
    background-color: rgba(255, 255, 255, 0.1);
}
.question h2 {
    /* font-size: 0.8rem; */
    font-size: 20px;
    transition: .5s ease;
}
.question h2 div {
    padding: 20px;
}
.question .text {
    /* font-size: 0.7rem; */
    font-size: 16px;
}
.question .text .card-body {
    padding: 0.5rem;
}

/* contact */
.contact-wrapper {
    display: flex;
    justify-content: center;
}
.contact {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .group {
    width: 100%;
    padding-bottom: 1.5rem;
}
.contact label {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.contact input,
.contact textarea {
    width: 100%;
    background-color: black;
    color: #ffffff;
    outline:none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
    transition: .5s ease;
    resize:none
}
input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 50000s ease-in-out 0s; 
}
.contact input.error,
.contact textarea.error {
    border-bottom: 1px solid #ea5655;
}
.contact .submit {
    border: 1px solid #ffffff;
    width: auto;
    padding: 10px 30px;
    transition: .5s ease;
    font-size: 16px;
}
.contact .submit:hover {
    background-color: #ffffff;
    color: black;
}