html {
    font-size: 5vmin;
    scroll-behavior: smooth;
}
body {
    font-family: "Lato","Helvetica","Lucida Grande","Arial","Heiti TC","Microsoft JhengHei",sans-serif;
    background-color: black;
    color: #ffffff;
    scroll-behavior: smooth;
    letter-spacing: 3px;
}
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
}

img {
    vertical-align: middle;
}
/* nav */
.topbar {
    width: 100%;
    position: fixed;
    background:rgba(0,0,0,0.7);
    z-index: 999;
    letter-spacing: .1em;
    opacity: 0;
    top: 10%;
    overflow: hidden;
}
.topbar img{ 
    width: 5rem;
}
.topbar li{
    margin-right: 3.59375vw;
    text-align: center;
}
.topbar li a {
    font-size: 14px;
    font-weight: 800;
    position: relative;
}
.topbar li a::after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    height: 1px;
    width: 10px;
    background-color: #ffffff;
    bottom: 0px;
    left: 0;
    right: 0;
    margin:auto; 
    transition: .35s ease;
}
.topbar .nav-link:hover::after{
    width: 100%;
    opacity: 1;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .5s ease;
}
.menu-btn-burger {
    width: 30px;
    height: 1px;
    background-color: #ffffff;
    transition: .5s ease;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #ffffff;
    transition: .5s ease;
}
.menu-btn-burger::before {
    transform: translateY(-7px);
}
.menu-btn-burger::after {
    transform: translateY(7px);
}
/* aniamtion */
.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* top button */
#topBtn {
    position: fixed;
    width: 50px;
    height: 80px;
    z-index: 99;
    bottom: 40px;
    right: 1rem;
    cursor: default;
    opacity: 0;
    transition: .5s ease;
}
#topBtn .btn-line {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 80px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
}
#topBtn .btn-line::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: #ffffff;
    top: 0;
    margin: auto;
    transform-origin: left;
    transform: rotate(60deg) translateY(-1px);
}
#topBtn span {
    margin-top: 30px;
    margin-left: 5px;
    height: 60px;
    font-size: 10px;
    writing-mode: vertical-lr 
}
/* footer */
footer {
    height: 9rem;
    font-size: 14px;
    border-top: #ffffff solid 1px;
    opacity: 0;
}
.footer-body {
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4rem;
    padding: 30px 0;
}
.footer-body img {
    padding-top: 20px;
    padding-bottom: 0.9rem;
    width: 5rem;
}
.footer-body ul {
    display: flex;
    letter-spacing: .1em;
}
.footer-body li{
    margin: 0 1.7vw 0 1.7vw;
}
.footer-body li a {
    font-size: 14px;
    font-weight: 800;
    opacity: 1;
    transition: .5s ease;
}
.footer-icon i {
    font-size: 20px;
    transition: .5s ease;
}
.footer-body li a:hover,
.footer-icon i:hover {
    opacity: 0.6;
}
.footer-icon a:nth-child(2) {
    margin: 0 15px 0 15px;
}
.footer-body p {
    font-size: 14px;
    letter-spacing: 0;
}